In [27]:
print("Priya")

Priya

In [28]:
text = "hello 123"
for char in text:
    if char.isdigit():
        print("Blocked")
        break

Blocked

In [29]:
print("Command Line Chat Filter")

while True:
    message=input("Enter your message:")
    if not message.strip():
        continue
        
    elif message.lower()=="quit":
        print("quit.....")
        break
    
    elif message.lower().startswith("help") or message.lower().startswith("emergency"):
        print(f"⚠️ Attention Needed: {message}")
    
    elif message.strip():
        for text in message:
            if text.isdigit():
                print("Blocked:  Message contains numbers. Stopping moderation... ")
                break
        break
    else:
        print(f"✅ Message Received: {message}")

Command Line Chat Filter
quit.....

In [ ]:
print("Command Line Chat Filter")

while True:
    message=input("Enter your message:")
    if not message.strip():
        continue
        
    if message.lower()=="quit":
        print("quit.....")
        break
    
    if message.isalpha():
        print("Blocked:  Message contains numbers. Stopping moderation... ")
        break
             
    if message.lower().startswith("help") or message.lower().startswith("emergency"):
        print(f"⚠️ Attention Needed: {message}")
    else:
        print(f"✅ Message Received: {message}")

Command Line Chat Filter
quit.....

In [36]:

# 1. Use a while loop to print a pattern of stars (*) up to 5 lines.
# Output:
# *
# *
# *
# *
# *

star=int(input("enter star number"))
for i in range(0,star):
    print("*")

*
*
*
*
*

Print only odd numbers from 1 to 15 using a for loop 
Output:
1 3 5 7 9 11 13 15

In [42]:
for i in range(1,16):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15

Print all even numbers from 2 to 20 using for loop.
Output:
2 4 6 8 10 12 14 16 18 20

In [44]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

Create a countdown from 5 to 1. Use for.
Output:
5
4
3
2
1
Liftoff!

In [47]:
num=int(input("Enter number"))
for i in range(num,0,-1):
    print(i)
print("Liftoff!")

6
5
4
3
2
1
Liftoff!

1. Print all numbers from 1 to 10 using a for loop.
Output:1 2 3 4 5 6 7 8 9 10

In [51]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

2. Print the square of numbers from 1 to 5.
Output:1 4 9 16 25

In [57]:
square=int(input("enter number"))
for sqrt in range(1,square+1):
    print(sqrt**2)

1
4
9
16
25
36
49
64
81

In [59]:
# cube

cube_num=int(input("enter number"))
for cube in range(1,cube_num+1):
    print(cube**3)

1
8
27

3. Ask the user to enter 5 numbers and print the sum.
Sample Input:
3
4
5
2
6
Output: Total sum is: 20

In [67]:
nums=[5,9,3,7,6]
sum=0
for num in nums:
    sum=sum+num
print(sum)

30

4. Print each character in the word “Python” using a for loop.
Output:

P  
y  
t  
h  
o  
n

In [68]:
text="python"
for char in text:
    print(char)

p
y
t
h
o
n

5. Ask for 3 names and print them in uppercase.
Sample Input:
Alice
Bob
John
Output:

ALICE  
BOB  
JOHN

In [187]:
names=['Alice','Bob','John', "", "Priya", ""]
for name in names:
    print(name.upper())

ALICE
BOB
JOHN

PRIYA

In [188]:
names=['Alice','Bob','John', "", "Priya", ""]
for name in names:
    if name:
        print(name.upper())

ALICE
BOB
JOHN
PRIYA

6. Print the multiplication table of 3 (from 1 to 10).
Output:

python-repl
Copy
Edit
3 x 1 = 3  
3 x 2 = 6  
...  
3 x 10 = 30

In [72]:
for i in range(1,11):
    print(f"3 x {i} = {3*i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

7. Print all vowels in a given sentence.
Sample Input:
"Hello World"
Output:
e  
o  
o

In [81]:
text=input("enter a text")
vowel="aeiou"
for char in text:
    if char.lower() in vowel:
        print(char)

A
i
a

8. Check and print only words with more than 5 characters from a list.
Sample List: ["apple", "banana", "grape", "pineapple"]
Output:
banana  
pineapple

In [87]:
fruits=["apple", "banana", "grape", "pineapple"]
for fruit in fruits:
    if len(fruit) > 5:
        print(fruit)

banana
pineapple

9. Ask the user for 5 numbers and print only the even ones.
Sample Input:
4
7
2
9
10
Output:
Even numbers: 4 2 10

In [112]:
number = []
for i in range(5):
    num = int(input("Enter number:"))
    if num%2 == 0:
        number.append(num)
    print(number)

[2]
[2, 6]
[2, 6]
[2, 6]
[2, 6, 4]

In [113]:
# 10.Print a right-angle triangle using stars * for 5 rows.
# Output:

# *  
# **  
# ***  
# ****  
# *****

for i in range (0,6):
    print("*" *i)

*
**
***
****
*****

11. Reverse a word using a for loop.
Sample Input:
"Tiger"
Output:
regiT

In [170]:
animal='Tiger'
reverse=''
for ani in animal:
    reverse=ani+reverse
    print(reverse)

T
iT
giT
egiT
regiT

In [175]:
animal="Tiger"
reverse=animal[::-1]
print(reverse)

regiT

12. Print the factorial of a given number using a for loop.
Input: 5
Output:
Factorial of 5 is 120

In [171]:
fact=int(input("Enter number"))
factorial=1
for i in range(1,fact+1):
    factorial*=i
print(factorial)

120

13. Ask for 5 fruits and print how many start with a vowel.
Sample Input:
Apple
Mango
Orange
Grape
Apricot
Output:
Fruits starting with vowels: 3

In [172]:
fruits=['Apple','Mango','Orange','Grape','Apricot']
vowel='aeiou'
count=0
for fruit in fruits:
    if fruit[0].lower() in vowel:
        count+=1
        print(fruit)
print(f"Fruit start with vowel {count}")

Apple
Orange
Apricot
Fruit start with vowel 3

14. Print all characters from a word, but skip spaces.
Input: "New York"
Output:

N  
e  
w  
Y  
o  
r  
k

In [6]:
text="New York"
for city in text:
    if city.strip():
        print(city)

N
e
w
Y
o
r
k

15. Create a list of squares from 1 to 10 using a for loop and print it.
Output:

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [174]:
sqrt=[]
for square in range(1,11):
    sqrt.append(square**2)
print(sqrt)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

16. Count how many vowels are in a sentence.
Input: "Python is powerful"
Output: Vowel count: 5

In [183]:
text=input('Enter sentence: ')
vowel='aeiou'
count=0
for char in text:
    if char.lower() in vowel:
        count+=1
print(f"Vowel count {count}")

Vowel count 5

17. Reverse a list without using .reverse() or slicing.
Input: [1, 2, 3, 4]
Output: [4, 3, 2, 1]

In [ ]:
list=[1,2,3,4]
for num in list:

In [208]:
list1 = [1, 3, 5, 7, 8, 9, 200, 398, 56786, 34]
tup1 = (8, 7, 4, 56, 34, 567)
dict1 = {"list1": list1, "tup1": tup1}

for num in dict1.values():
    for i in num:
        print(i)

1
3
5
7
8
9
200
398
56786
34
8
7
4
56
34
567

In [223]:
dict1['list1'][0]

1

In [192]:
type(list1)

list

In [226]:
for i in "123":
    print(i, type(i))

1 <class 'str'>
2 <class 'str'>
3 <class 'str'>

In [2]:
tuple(list(tuple(range(5))))

(0, 1, 2, 3, 4)

In [5]:
tup1 = (8, 7, 4, 56, 34, 567,8,9)
print(tup1)

print("count",tup1.count(8))
print("first element",tup1[0])
print("last element",tup1[-1])
print(tup1.index(56))

for num in tup1:
    print(num)

(8, 7, 4, 56, 34, 567, 8, 9)
count 2
first element 8
last element 9
3
8
7
4
56
34
567
8
9

In [17]:
num={1,2,3}
num.add(4)
print(num)

num.remove(3)
print(num)

numbs={2,3,4,5}
print(num | numbs)

print(num & numbs)

{1, 2, 3, 4}
{1, 2, 4}
{1, 2, 3, 4, 5}
{2, 4}